{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<body style="background-image: url('{% static "old carr.jpg" %}')">
        {% if all_expense_of_database %}
            <div class="container mb-5">
            <div class="row mb-5">
                {% for expense in all_expense_of_database %}
                    <div class="col d-flex justify-content-center">
                        <div class="card" style="width: 18rem; margin: 10px;background-color: gray">
                            {% if expense.car.photo %}
                                <img src="{{ expense.car.photo }}" class="card-img-top" style="height: 10rem">
                            {% endif %}
                            <div class="text-center">
                            <div class="card-body" style="background-color: gray" >
                                <div class="text-center">
                                    <h4 class="card-title">
                                        {{ expense.car.make }}
                                    </h4>
                                </div>
                                <div class="text-center" style="font-style: italic;font-size: 22px" >
                                    {{ expense.type }}:
                                    <p class="card-text">{{ expense.part }}</p>
                                    {% if expense.description %}
                                        Description:
                                        <p class="card-text">{{ expense.description }}</p>
                                    {% endif %}
                                    {% if expense.price %}
                                        Price:
                                        <p class="card-text">{{ expense.price|floatformat:'2' }}€</p>
                                    {% endif %}
                                    Date of purchase:
                                    <p class="card-text">{{ expense.date_of_purchase }}</p>
                                    <h5 class="card-title">
                                        Uploaded by {{ expense.user }}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>







                {% endfor %}
            </div>
        {% else %}

            <h1 class='text-center' style="color: #ffffff">No register costs </h1>


        {% endif %}


</div>
</body>
{% endblock %}