{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block page_content %}
    <body style="background-image: url('{% static "carjpg.jpg" %}')">
    <div class="container mb-5 py-3">
        <div class="row mb-5">
            <div class="card" style="width: 20rem; margin: 10px;background-color: gray " >
                <h4 class="text-center" style="font-style: italic">
                    Create your vehicle
                </h4>
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center py-3" >
                        <button class="btn btn-primary mt-2" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>

{% endblock %}