{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block page_content %}
    <body style="background-image: url('{% static "3588944.jpg" %}')">
    <div class="container mb-5 py-3">
        <div class="row mb-5">
            <form method="post">
                {% csrf_token %}
                <div class="card" style="width: 22rem; margin: 10px;background-color: gray ">
                    <img src="{{ car.photo }}" class="card-img-top">
                    <div class="card-body" style="background-color: gray;">
                        <h3 class="text-center" style="font-style: italic;color: brown">
                            Delete this vehicle?

                        </h3>
                        <div class="text-center">
                            <h5 class="card-title" style="font-size: 30px">{{ car.make }}</h5>
                        </div>
                        <div class="text-center" style="font-style: italic; font-size: 22px">
                            Horse power:
                            <p class="card-text">{{ car.horse_power }}</p>
                            Cubic:
                            <p class="card-text">{{ car.cubic }}</p>
                            Vehicle condition:
                            <p class="card-text">{{ car.vehicle_condition }}</p>
                            Mileage:
                            <p class="card-text">{{ car.mileage }}</p>
                            {% if car.year %}
                                Year:
                                <p class="card-text">{{ car.year }}</p>
                            {% endif %}
                            Fuel type:
                            <p class="card-text">{{ car.fuel_type }}</p>
                            Transmission:
                            <p class="card-text">{{ car.transmission }}</p>
                        </div>
                        <div class="text-center py-3">
                            <button class="btn btn-primary mt-2" type="submit">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

    </body>

{% endblock %}