{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block page_content %}
    <body style="background-image: url('{% static "aa.jpg" %}')">
    <div class="container mb-5 py-3">
        <div class="row mb-5">

            <div class="card" style="width: 30rem; margin: 10px;background-color: #ffb7b7 ">
                <h1 class="text-center" style="font-style: italic">
                    Best site to track all expense of your car!
                </h1>


            </div>
        </div>
    </div>
    </body>

{% endblock %}